<?xml version="1.0"?>
<configuration>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <qualifyAssembly partialName="System.Data.SQLite" fullName="System.Data.SQLite, Version=1.0.66.0, Culture=Neutral, PublicKeyToken=1fdb50b1b62b4c84" />
        </assemblyBinding>
    </runtime>
    <startup>
        <supportedRuntime version="v2.0.50727"/>
    </startup>
</configuration>
